@{
    ViewData["Title"] = "Users Page";
}

<div @*class="text-center"*@>
    <h2>User</h2>
    <div>
        <asp:HiddenField ID="hfUserID" runat="server" />
        <div class="form-group">
            <label for="lblName">Name</label>
            <input type="text" class="form-control" id="txtName" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="lblMobile">Mobile</label>
            <input type="number" class="form-control" id="txtMobile" placeholder="Enter Mobile Number">
        </div>
        <div class="form-group">
            <label for="lblAddress">Address</label>
            <textarea class="form-control" id="txtAddress" rows="2"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="reset" class="btn btn-secondary">Clear</button>
        </div>
        <div class="form-group">
            <label for="lblSuccessMessage" style="display:none">Success</label>
            <label for="lblErrorMessage" style="display:none">Error</label>
        </div>
        <br />
            @*Insert table here*@
        <br />
    </div>
</div>
