@{
    ViewData["Title"] = "Drug Rehabilitation Programme Page";
}

<div @*class="text-center"*@>
    <h2>Drug Rehabilitation Programme</h2>
    <div>
        <asp:HiddenField ID="hfUserID" runat="server" />
        <div class="form-group">
            <label for="lblProgName">Programme Name</label>
            <input type="text" class="form-control" id="txtProgName" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="lblProgDescription">Programme Description</label>
            <textarea class="form-control" id="txtProgDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="lblStartDate">Start Date</label>
            <input type="datetime-local" class="form-control" id="txtStartDate" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="lblEndDate">End Date</label>
            <input type="datetime-local" class="form-control" id="txtEndDate" placeholder="Enter name">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="reset" class="btn btn-secondary">Clear</button>
        </div>
        <div class="form-group">
            <label for="lblSuccessMessage" style="display:none">Success</label>
            <label for="lblErrorMessage" style="display:none">Error</label>
        </div>
        <br />
        <table class="table table-striped table-bordered table-condensed table-responsive table-hover">
            <thead>
                <tr>
                    <th>Programme Name</th>
                    <th>Description</th>
                    <th>Start</th>
                    <th>End</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="drugRehabProgTableBody"></tbody>
        </table>
        <br />
    </div>
</div>
<script>
    //$(document).ready(function () {
    //    console.log("document loaded");
    //});
    $(document).ready(function () {
        console.log("document loaded");
        loadDrugRehabProgData();
        console.log("nope");
    });

    function loadDrugRehabProgData() {
        //Note: jQuery.ajax(..) is also often written is $.ajax(..)
        $loadDrugRehabDataHandler = jQuery.ajax({
            url: '/api/DrugRehabProgramme/',
            method: 'GET',
            dataType: 'json',
            cache: false,
        });
        $loadDrugRehabDataHandler.done(function (data, textStatus, jqXHR) {
            console.log(data);
            var drugRehabProgList = data;
            var name = '';
            var desc = '';
            var startDate = '';
            var endDate = '';
            var $tableElement = null;
            var $cellElement = null;
            var $rowElement = null;
            var $xElement = null;
            //-------- Find the table element -----------
            $tableBodyElement = $('#drugRehabProgTableBody');
            //-------- Begin creating <tr> and <td> HTML element ------
            for (index = 0; index < drugRehabProgList.length; index++) {
                drugRehabProg = drugRehabProgList[index];
                id = drugRehabProg.progID;
                name = drugRehabProg.progName;
                desc = drugRehabProg.progDescrip;
                startDate = drugRehabProg.startDate;
                endDate = drugRehabProg.endDate;
                $rowElement = $('<tr></tr>');
                $cellElement = $('<td></td>', { text: name });
                $rowElement.append($cellElement);
                $cellElement = $('<td></td>', { text: desc });
                $rowElement.append($cellElement);
                $cellElement = $('<td></td>', { text: startDate });
                $rowElement.append($cellElement);
                $cellElement = $('<td></td>', { text: endDate });
                $rowElement.append($cellElement);
                $hyperLinkElement = $('<a href=javascript:viewUser(\'' + id + '\')>View</a>');
                $cellElement = $('<td></td>');
                $cellElement.append($hyperLinkElement);
                $rowElement.append($cellElement);
                $tableBodyElement.append($rowElement);
            }//end of for loop.
        }//end of JavaScript anonymous function
        )//end of the done() method;
        $loadDrugRehabDataHandler.fail(function (data, textStatus, jqXHR) {
            $.notify(data.statusText, "error");
        })//end of $loadLabDataHandler.fail()
    }//end of loadLabData();

    function viewUser(userId) {
        //Note: jQuery.ajax(..) is also often written is $.ajax(..)
        $loadSingleUserDataHandler = jQuery.ajax({
            url: '/api/AcadProgramme/' + acadProgId,
            method: 'GET',
            dataType: 'json',
            cache: false,
        });

        $loadSingleUserDataHandler.done(function (data, textStatus, jqXHR) {
            console.log(data);
            //var userList = data;
            var id = '';
            var name = '';
            var mobile = '';
            var address = '';
            var password = '';
            //-------- Begin creating <tr> and <td> HTML element ------
            //for (index = 0; index < userList.length; index++) {
            var user = data;
            //console.log(user.name);
            id = user.userID;
            name = user.name;
            mobile = user.mobile;
            address = user.address;
            password = user.password;
            document.getElementById("userId").innerHTML = id;
            document.getElementById('txtName').value = name;
            document.getElementById('txtMobile').value = mobile;
            document.getElementById('txtAddress').value = address;

            //}//end of for loop.
        }//end of JavaScript anonymous function
        )//end of the done() method;
        $loadUserDataHandler.fail(function (data, textStatus, jqXHR) {
            $.notify(data.statusText, "error");
        })//end of $loadLabDataHandler.fail()
    } //viewUser Function
    //function redirectPage() {
    //    location.replace('/UserManager/Index');
    //}// end of redirectPage() method (function)

    function saveUser() {
        var userId = $("#userId").text();
        console.log('userId to act on ' + userId);
        if (userId == '') {
            console.log('userId is empty. gonna create');
            var putString = '';
            //collect data
            var name = $("#txtName").val();
            var mobile = $("#txtMobile").val();
            var address = $("#txtAddress").val();
            putString = '?name=' + name + '&mobile=' + mobile + '&address=' + address + '&password=password';
            //var password = '';
            $postUserDataHandler = jQuery.ajax({
                url: '/api/Users/' + putString,
                method: 'POST',
                dataType: 'json',
                cache: false,
            });

            $postUserDataHandler.done(function (data, textStatus, jqXHR) {
                console.log(data);
                document.getElementById("lblSuccessMessage").innerHTML = "User Deleted."
                $("#lblSuccessMessage").show();
                redirectPage();
            }//end of JavaScript anonymous function
            )//end of the done() method;
            $postUserDataHandler.fail(function (data, textStatus, jqXHR) {
                console.log(data);
                document.getElementById("lblErrorMessage").innerHTML = "Failed to Delete"
                $("#lblErrorMessage").show();
            })//end of $loadLabDataHandler.fail()
        } else {
            console.log();
            console.log('userId is NOT empty. gonna update');

            var putString = '';
            //collect data
            var name = $("#txtName").val();
            var mobile = $("#txtMobile").val();
            var address = $("#txtAddress").val();
            putString = userId +'?name='+name+'&mobile='+mobile+'&address='+address+'&password=password';
            //var password = '';
            $putUserDataHandler = jQuery.ajax({
                url: '/api/Users/' + putString,
                method: 'PUT',
                dataType: 'json',
                cache: false,
            });

            $putUserDataHandler.done(function (data, textStatus, jqXHR) {
                document.getElementById("lblSuccessMessage").innerHTML = "User Deleted."
                $("#lblSuccessMessage").show();
                redirectPage();
            }//end of JavaScript anonymous function
            )//end of the done() method;
            $putUserDataHandler.fail(function (data, textStatus, jqXHR) {
                console.log(data);
                document.getElementById("lblErrorMessage").innerHTML = "Failed to Delete"
                $("#lblErrorMessage").show();
            })//end of $loadLabDataHandler.fail()

        }
    }

    function deleteUser() {

        var userId = $("#userId").text();
        console.log('userId to delete is ' + userId);
        $deleteUserHandler = jQuery.ajax({
            type: 'DELETE',
            url: '/api/Users/' + userId
        });//end of jQuery.ajax() call
        $deleteUserHandler.done(function (data, textStatus, jqXHR) {
            document.getElementById("lblSuccessMessage").innerHTML = "User Deleted."
            redirectPage();
        });//end of $deleteStudentHandler.done()
        $deleteUserHandler.fail(function (data, textStatus, jqXHR) {
            console.log(data);
            document.getElementById("lblErrorMessage").innerHTML = "Failed to Delete"
            //    });//end of $deleteStudentHandler.fail()
        });
    }

    function clearFields() {
        $("#userId").text('');
        $("#lblSuccessMessage").hide();
        $("#lblErrorMessage").hide();
        document.getElementById('txtName').value = '';
        document.getElementById('txtMobile').value = '';
        document.getElementById('txtAddress').value = '';
    }

    function redirectPage() {
        location.replace('/Users');
    }// end of redirectPage() method (function)
</script>