@{
    ViewData["Title"] = "Academic Programmes Page";
}

<div @*class="text-center"*@>
    <h2>Academic Programmes</h2>
    <div>
        <div class="form-group">
            <label id="acadProgId" hidden></label>
            <label for="lblProgName">Programme Name</label>
            <input type="text" class="form-control" id="txtProgName" placeholder="Enter Programme Name">
        </div>
        <div class="form-group">
            <label for="lblProgDescription">Programme Description</label>
            <textarea class="form-control" id="txtProgDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="lblStartDate">Start Date</label>
            <input type="datetime-local" class="form-control" id="txtStartDate" placeholder="Enter Start Date">
        </div>
        <div class="form-group">
            <label for="lblEndDate">End Date</label>
            <input type="datetime-local" class="form-control" id="txtEndDate" placeholder="Enter End Date">
        </div>

        <div class="form-group">
            <button type="submit" onclick="saveProg()" class="btn btn-primary">Save</button>
            <button type="button" onclick="deleteProg()" class="btn btn-danger">Delete</button>
            <button type="reset" onclick="clearFields()" class="btn btn-secondary">Clear</button>
        </div>
        <div class="form-group">
            <label id="lblSuccessMessage" style="display:none">Success</label>
            <label id="lblErrorMessage" style="display:none">Error</label>
        </div>
        <br />
        <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>Programme Name</th>
                    <th>Description</th>
                    <th>Start (MM/DD/YYYY)</th>
                    <th>End (MM/DD/YYYY)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="acadProgTableBody"></tbody>
        </table>
        <br />
    </div>
</div>
<script>
    //$(document).ready(function () {
    //    console.log("document loaded");
    //});
    $(document).ready(function () {
        console.log("document loaded");
        loadAcadProgData();
        console.log("nope");
    });

    function loadAcadProgData() {
        //Note: jQuery.ajax(..) is also often written is $.ajax(..)
        $loadProgDataHandler = jQuery.ajax({
            url: '/api/AcadProgramme/',
            method: 'GET',
            dataType: 'json',
            cache: false,
        });
        $loadProgDataHandler.done(function (data, textStatus, jqXHR) {
            console.log(data);
            var acadProgList = data;
            var name = '';
            var desc = '';
            var startDate = '';
            var endDate = '';
            var $tableElement = null;
            var $cellElement = null;
            var $rowElement = null;
            var $xElement = null;
            //-------- Find the table element -----------
            $tableBodyElement = $('#acadProgTableBody');
            //-------- Begin creating <tr> and <td> HTML element ------
            for (index = 0; index < acadProgList.length; index++) {
                acadProg = acadProgList[index];
                id = acadProg.progID;
                name = acadProg.progName;
                desc = acadProg.progDescrip;
                startDate = acadProg.startDate;
                endDate = acadProg.endDate;
                $rowElement = $('<tr></tr>');
                $cellElement = $('<td></td>', { text: name });
                $rowElement.append($cellElement);
                $cellElement = $('<td></td>', { text: desc });
                $rowElement.append($cellElement);
                $cellElement = $('<td></td>', { text: startDate });
                $rowElement.append($cellElement);
                $cellElement = $('<td></td>', { text: endDate });
                $rowElement.append($cellElement);
                $hyperLinkElement = $('<a href=javascript:viewProg(\'' + id + '\')>View</a>');
                $cellElement = $('<td></td>');
                $cellElement.append($hyperLinkElement);
                $rowElement.append($cellElement);
                $tableBodyElement.append($rowElement);
            }//end of for loop.
        }//end of JavaScript anonymous function
        )//end of the done() method;
        $loadProgDataHandler.fail(function (data, textStatus, jqXHR) {
            $.notify(data.statusText, "error");
        })//end of $loadProgDataHandler.fail()
    }//end of $loadProgDataHandler();

    function viewProg(progId) {
        //Note: jQuery.ajax(..) is also often written is $.ajax(..)
        $loadSingleProgDataHandler = jQuery.ajax({
            url: '/api/AcadProgramme/' + progId,
            method: 'GET',
            dataType: 'json',
            cache: false,
        });

        $loadSingleProgDataHandler.done(function (data, textStatus, jqXHR) {
            console.log(data);
            var id = '';
            var name = '';
            var desc = '';
            var inStartDate = '';
            var inEndDate = '';
            //-------- Begin creating <tr> and <td> HTML element ------
            //for (index = 0; index < progList.length; index++) {
            var prog = data;
            //console.log(prog.name);
            id = progId;
            name = prog.progName;
            desc = prog.progDescrip;
            inStartDate = prog.startDate;
            inEndDate = prog.endDate;

            //Convert Dates
            var startDate = convertStrToDT(inStartDate)
            var endDate = convertStrToDT(inEndDate)

            document.getElementById("acadProgId").innerHTML = id;
            document.getElementById('txtProgName').value = name;
            document.getElementById('txtProgDescription').value = desc;
            document.getElementById('txtStartDate').value = startDate;
            document.getElementById('txtEndDate').value = endDate;

            //}//end of for loop.
        }//end of JavaScript anonymous function
        )//end of the done() method;
        $loadSingleProgDataHandler.fail(function (data, textStatus, jqXHR) {
            $.notify(data.statusText, "error");
        })//end of $loadSingleProgDataHandler.fail()
    } //viewProg Function

    //takes in string value to convert and return as ISO String, retaining local timezone format
    function convertStrToDT(inString) {
        var splitDate = inString.split("/");
        console.log(splitDate);
        var date = new Date(splitDate[2], parseInt(splitDate[0]) - 1, splitDate[1], 0, 0, 0);
        console.log('Enter Date Converted is: ' + date.toString());
        var fmDate = date.getFullYear().toString() + "-" + ((date.getMonth() + 1).toString()).padStart(2, '0') + "-" + (date.getDate().toString()).padStart(2, '0') + "T00:00";
        console.log('Formatted EnterDate: ' + fmDate);
        return fmDate;
    } //convertDate Function

    //takes in string Formatted DT to convert and return as mm/dd/yyyy
    function convertDtToStr(inDt) {
        var splitDt = inDt.split("T");
        var splitDate = splitDt[0].split("-");
        var date = new Date(splitDate[0], splitDate[1], splitDate[2]);
        var fmDate = ((date.getMonth()).toString()).padStart(2, '0') + "/" + (date.getDate().toString()).padStart(2, '0') + "/" + date.getFullYear().toString();
        return fmDate;
    }

    function saveProg() {
        var progId = $("#acadProgId").text();
        console.log('acadProgId to act on ' + progId);
        if (progId == '') {
            console.log('acadProgId is empty. gonna create');
            var putString = '';
            //collect data
            var name = $("#txtProgName").val();
            var desc = $("#txtProgDescription").val();
            var inStartDate = $("#txtStartDate").val();
            var inEndDate = $("#txtEndDate").val();

            //Convert Dates
            console.log('SaveProg Start: ' + inStartDate);
            var startDate= convertDtToStr(inStartDate);
            console.log('SaveProg formatted: ' + startDate);

            console.log('SaveProg End: ' + inEndDate);
            var endDate = convertDtToStr(inEndDate);
            console.log('SaveProg formatted: ' + endDate);

            putString = '?progName=' + name + '&progDescrip=' + desc + '&startDate=' + startDate + '&endDate=' + endDate;
            //var password = '';
            $postProgDataHandler = jQuery.ajax({
                url: '/api/AcadProgramme/' + putString,
                method: 'POST',
                dataType: 'json',
                cache: false,
            });

            $postProgDataHandler.done(function (data, textStatus, jqXHR) {
                console.log(data);
                document.getElementById("lblSuccessMessage").innerHTML = "Programme Created.";
                $("#lblSuccessMessage").show();
                redirectPage();
            }//end of JavaScript anonymous function
            )//end of the done() method;
            $postProgDataHandler.fail(function (data, textStatus, jqXHR) {
                console.log(data);
                document.getElementById("lblErrorMessage").innerHTML = "Failed to Create";
                $("#lblErrorMessage").show();
            })//end of $postProgDataHandler.fail()
        } else {
            console.log();
            console.log('progId is NOT empty. gonna update');

            var putString = '';
            //collect data
            var name = $("#txtProgName").val();
            var desc = $("#txtProgDescription").val();
            var inStartDate = $("#txtStartDate").val();
            var inEndDate = $("#txtEndDate").val();

            console.log('SaveProg Start: ' + inStartDate);
            var startDate = convertDtToStr(inStartDate);
            console.log('SaveProg formatted: ' + startDate);

            console.log('SaveProg End: ' + inEndDate);
            var endDate = convertDtToStr(inEndDate);
            console.log('SaveProg formatted: ' + endDate);

            putString = progId + '?progName=' + name + '&progDescrip=' + desc + '&startDate=' + startDate + '&endDate=' + endDate;

            $putProgDataHandler = jQuery.ajax({
                url: '/api/AcadProgramme/' + putString,
                method: 'PUT',
                dataType: 'json',
                cache: false,
            });

            $putProgDataHandler.done(function (data, textStatus, jqXHR) {
                document.getElementById("lblSuccessMessage").innerHTML = "Academic Programme Deleted."
                $("#lblSuccessMessage").show();
                redirectPage();
            }//end of JavaScript anonymous function
            )//end of the done() method;
            $putProgDataHandler.fail(function (data, textStatus, jqXHR) {
                console.log(data);
                document.getElementById("lblErrorMessage").innerHTML = "Failed to Delete"
                $("#lblErrorMessage").show();
            })//end of $putProgDataHandler.fail()

        }
    }

    function deleteProg() {

        var progId = $("#acadProgId").text();
        console.log('acadProgId to delete is ' + progId);
        $deleteProgHandler = jQuery.ajax({
            type: 'DELETE',
            url: '/api/AcadProgramme/' + progId
        });//end of jQuery.ajax() call
        $deleteProgHandler.done(function (data, textStatus, jqXHR) {
            document.getElementById("lblSuccessMessage").innerHTML = "Programme Deleted."
            redirectPage();
        });//end of $deleteProgHandler.done()
        $deleteProgHandler.fail(function (data, textStatus, jqXHR) {
            console.log(data);
            document.getElementById("lblErrorMessage").innerHTML = "Failed to Delete"
            //    });//end of $deleteProgHandler.fail()
        });
    }

    function clearFields() {
        $("#acadProgId").text('');
        $("#lblSuccessMessage").hide();
        $("#lblErrorMessage").hide();
        document.getElementById('txtProgName').value = '';
        document.getElementById('txtProgDescription').value = '';
        document.getElementById('txtStartDate').value = '';
        document.getElementById('txtEndDate').value = '';
    }

    function redirectPage() {
        location.replace('/AcadProgramme');
    }// end of redirectPage() method (function)
</script>